<%= turbo_stream_from dom_id(photo) %>
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= turbo_frame_tag dom_id(photo) do %>
      <%= render "photos/photo_frame", photo: photo %>
    <% end %>
  </div>
</div>

